@import url('../fonts/fonts.css');
@import url('hotels.css');
@import url('gallery.css');

#body {
  font-family: 'open_sanslight', sans-serif;
  color: #fff;
  background: #000;
  width:100%;
  height:100%;
  font-size:18px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center center;
  background-size: cover;
  overflow:visible;
}

a,
.btn {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    outline: none !important;
}

a {
    color:#fff;
    color:rgba(255,255,255,0.8);
    font-weight: bold;
}
a:hover {
    color:#fff;
    color:rgba(255,255,255,1);
    text-decoration: none;
}

p a {
    padding-bottom:1px;
    border-bottom:1px dotted rgba(255,255,255,0.4);
    font-family: 'open_sansregular', sans-serif;
}
p a:hover {
    border-color:#fff;
    border-color:rgba(255,255,255,1);
}

strong {
    font-family: 'open_sansbold', sans-serif;
}
em {
    font-family: 'open_sansitalic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'open_sansbold', sans-serif;
}

p {
    margin: 1em 0;
}

    @media (min-width: 768px) {

    }
    @media (min-width: 992px) {

    }
    @media (min-width: 1200px) {

    }

#overlay, .background {
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-filter:sepia(0.2) brightness(1.1) contrast(1.3);
  -moz-filter:sepia(0.2) brightness(1.1) contrast(1.3);
  filter:sepia(0.2) brightness(1.1) contrast(1.3);
  -webkit-box-shadow:
    inset 0 0 50px #000,
    inset 0 0 50px #000,
    inset 0 0 50px #000;
 -moz-box-shadow:
    inset 0 0 50px #000,
    inset 0 0 50px #000,
    inset 0 0 50px #000;
  box-shadow:
    inset 0 0 50px #000,
    inset 0 0 50px #000,
    inset 0 0 50px #000;
}

#overlay {
  opacity: 0.35;
  background-image: url(../images/overlay.png);
}

#retro-filter, .retro-filter {
  box-shadow:inset 0 0 100px rgba(0,0,20,.7), 0 5px 15px rgba(0,0,0,.5);
  background:-webkit-linear-gradient(top, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), -webkit-linear-gradient(20deg, rgba(255,0,0,0.5) 0%,rgba(255,0,0,0) 35%);
  margin: 0px;
  padding: 0px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 100%;
  transition: all 1s ease-in-out;
}

#content {
  min-height: 100%;
  color: #fff;
  font-family: 'Anton';
  padding: 15px 5% 0 15px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;  
}

#polaroid_container {
  min-height: 100%;
  overflow: visible;
}

#retro-filter img, .retro-filter img {
  width: 100%;
  height: 100%;
  opacity: 0.15;
  margin: 0px;
  padding: 0px;
}
.retro-filter img {
  opacity: 0.1;
}

#retro-filter {
  box-shadow:inset 0 0 100px rgba(0,0,20,.7), 0 5px 15px rgba(0,0,0,.5);
  background:-webkit-linear-gradient(top, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), -webkit-linear-gradient(20deg, rgba(255,0,0,0.5) 0%,rgba(255,0,0,0) 35%);
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.polaroid {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 350px;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  transition: transform 0.8s ease;
}
.polaroid-image {
  width: calc(100% - 30px);
  height: calc(100% - 90px);
  position: absolute;
  margin: 15px 15px 75px 15px;
  overflow: hidden;
}
.polaroid-image img {
  opacity: 1;
  height: 100%;
  -webkit-filter:sepia(0.2) brightness(1.1) contrast(1.3);
  -moz-filter:sepia(0.2) brightness(1.1) contrast(1.3);
  filter:sepia(0.2) brightness(1.1) contrast(1.3);
  transition: all 1s ease-in-out;
}
.retro-filter:hover { opacity: 0; }
.polaroid:hover img { -webkit-filter:sepia(0) brightness(1) contrast(1); cursor: pointer; }
.polaroid:hover {
  transform: rotate(0deg) !important;
  transform: scale(1.15,1.15) !important;
  z-index: 2 !important;
}
.polaroid-text {
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  position: absolute;
  opacity: 0.85;
  color: #000;
}
.content-header {
  min-height: 60px;
  font: normal 40px/normal "Anton", Helvetica, sans-serif;
  color: #fff;
}
.content-header p {
  margin-top: 10px;
}

/* --------------------------- polaroids --------------------------- */
#polaroid_1 {
  transform: rotate(-15deg);
  z-index: 1;
}
#polaroid_1 .polaroid-text{
  bottom: -7px;
  left: 20px;
  transform: rotate(-10deg);
}

#polaroid_2 {
  transform: rotate(7deg);
  z-index: 1;
}
#polaroid_2 .polaroid-text {
  bottom: 0px;
  left: 45px;
  transform: rotate(15deg);
}

#polaroid_3 {
  transform: rotate(4deg);
}
#polaroid_3 .polaroid-text {
  bottom: 10px;
  left: 90px;
  transform: rotate(3deg);
}
#polaroid_4 {
  transform: rotate(-30deg);
}
#polaroid_4 .polaroid-text {
  bottom: 20px;
  left: 0px;
  transform: rotate(20deg);
  font-size: 50px;
  line-height: 50px;
}
  @media (min-width: 768px) {
    #polaroid_2 {
      margin-top: -35px;
    }
    #polaroid_3 {
      margin-top: -90px;
    }
    #polaroid_4 {
      margin-top: -80px;
    }
  }
/* --------------------------- ---------------------------*/
.background {
  background: url(../images/DSC04120.JPG) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: opacity 1s linear;
}

/* -------------- Bootstrap Navs ----------------- */
.nav, ul.nav {
  display:block;
  border-bottom-color:rgba(255,255,255,0.15);
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: #eee;
  color: #fff;
  background-color: rgba(238,238,238,0.2);
  border-color: rgba(238,238,238,0.1);
}
.nav.nav-tabs>li>a:hover, .nav.nav-tabs>li>a:focus {
  
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #000;
  background-color: #fff;
}
.nav>li.disabled>a:hover, .nav>li.disabled>a:focus {
  border-color: transparent;
  background-color: transparent;
}
/* ====================================================
   FIXED LEFT SIDEBAR (LOGO + MENU)
   ==================================================== */

#left-sidebar {
  display:block;
  background: rgba(0,0,0,0.29);
}

  @media (min-width: 768px) {
    #left-sidebar {
      /* any change has to be replicated in #footer below */
      height:auto;
      position: fixed;
      top:0;
      left:4%;  
      width:15%;
      max-width:150px;
      min-width:150px; 
      background: url(../images/aged_photo_back.jpg);
      background-size: 100% 100%;
    }
  }
  @media (min-width: 992px) {
    #left-sidebar {
      /* any change has to be replicated in #footer below */
      left:7%;  
      width:15%;
      max-width:205px;
      min-width:190px; 
    }
  }
  @media (min-width: 1200px) {

  }

/* -------------- LOGO ----------------- */

#left-sidebar .logo {
  padding:15px 0 20px 0;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

#left-sidebar .logo img {
  display:block;
  margin:0 auto;
  width:auto;
  max-width:75%;
  height:auto;
}
  @media (max-width: 768px) {
    #left-sidebar .logo img {
      max-height: 125px;
    }
  }
  @media (min-width: 768px) {
    #left-sidebar .logo {
      padding:28px 0 20px 0;
      background: none;
    }
  }
  @media (min-width: 992px) {
    #left-sidebar .logo {
      padding:42px 0 30px 0;
    }
  }
  @media (min-width: 1200px) {

  }

/* -------------- MAIN MENU ----------------- */

#left-sidebar #mobile-menu-icon {
  display: block;
  width: auto;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  margin: 0;
  color: #c9c9c9;
  font-weight: bold;
  background: rgba(0,0,0,0.2);
  cursor:pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; 
}

#left-sidebar #mobile-menu-icon span {
  font-size: 1.43em;
  line-height: 45px;
  height: 50px;
  text-align: center;
  display: block;
  margin:0 auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;  
}

#left-sidebar #mobile-menu-icon:hover,
#left-sidebar #mobile-menu-icon.active {
  color: #fff;
}

#left-sidebar #main-menu {
  display:none;
  list-style: none;
  margin:0;
  padding:0;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  font-size:0.86em;
  line-height:1.05;
  background: rgba(0,0,0,0.1);
  width:100%;
}

#left-sidebar #main-menu > li.menu-item {
  display:block;
  margin:0;
  padding:0;
}

#left-sidebar #main-menu > li.menu-item > a,
#left-sidebar #main-menu > li.menu-item > span {
  display:block;
  padding:13px 10px;
  background:rgba(0,0,0,0.01);
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

#left-sidebar #main-menu > li.menu-item > a:hover {
  color: rgba(230,38,35,0.7);
}

#left-sidebar #main-menu > li.menu-item.active > * {
  color: rgba(230,38,35,0.7);
}

  @media (min-width: 768px) {
    #left-sidebar #main-menu {
      display:block;
      margin:8px 0;
      background:none;
      font-size:2em;
      line-height:1.2;            
    } 
    #left-sidebar #main-menu > li.menu-item > a,
    #left-sidebar #main-menu > li.menu-item > span {
      padding:7px 10px;
    }             
  }
  @media (min-width: 992px) {
    #left-sidebar #main-menu {
      margin:12px 0;
      font-size:3em;
      line-height:1.2;              
    }
  }
  @media (min-width: 1200px) {

  }